<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico"/>
	<title>Editar Funcionário </title>
	<link rel="stylesheet" type="text/css"
		href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="../resources/css/main.css">
</head>

<body>

<a href="/funcionarios/index.html">Voltar</a>

<div id="app">
	
	<h4>Editar funcionário</h4>
		
	<div id ="form" >
	  <div class="form-row">
	    <div class="col-md-2.5 mb-3">
	      <label>Nome</label>
	      <input type="text" class="form-control" id="nome" name = "nome" placeholder="Nome do funcionário" :value="funcionario.nome" required>
	    </div>
		<div class="col-md-2.5 mb-3">
			<label>E-mail</label>
		    <input type="email" class="form-control" id="email" name = "email" placeholder="E-mail" :value="funcionario.email" required>
		</div>
			<div id="setores" class="col-md-2.5 mb-3">
				<label for="setorInput">Selecione o setor:</label>
				<select class = "form-control" name="setorInput" id="setorInput" v-model="funcionario.setor" required>
					<option disabled selected value>
				      Escolha o Setor
				    </option>
					<option v-for="setor in setores" :value="setor.id">
				      {{setor.nome}}
				    </option>
				</select>
			</div>
	  </div>
	  <div class="form-row">
	  	<div class="col-md-2.5 mb-3">
			<label>Idade</label>
		    <input type="number" class="form-control" id="idade" name = "idade" placeholder="Idade" :value="funcionario.idade" required>
		</div>
	    <div class="col-md-2.5 mb-3">
	      <label>Salário</label>
	      <input type="number" class="form-control" id="salario" name = "salario" placeholder="Salário" :value="funcionario.salario" required>
	    </div>
	  </div>
	<button class="btn btn-primary" type="submit" @click="doEdit(funcionario.id)">Editar</button>
	</div>
</div>
	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/form-instance.js"></script>
	<script src="../resources/js/funcionario-action.js"></script>
</body>
</html>